body{
    text-align:center;
    color:white;
}
.home-content-row{
    height:300px;
    width:100%;
}

.home-photo{
    width:450px;
    height:300px;
    float:left;
}

.home-info{
    width:350px;
    height:300px;
    float:left;
}

h2{
    font-weight:100;
}